terraform.tfvars
*.backup
*.lock.*
*.tfstate*
*.json
.terraform/*
.terraform\*
.terraform
*.lock.*
*.hcl
*.backup
scripts/
scripts\
scripts
_local_scripts/
_local_scripts\
_local_scripts
.terraform.*
*.tfstate.*
*.pem
*.hcl